/* Стили */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
}
nav{
    flex-grow: 1;
    text-align: center;
}
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.menu li {
    display: inline;
    margin: 0 15px;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}
.social-icons {
    font-size: 18px;
    display: flex;
    align-items: center;
}
.social-icons a{
    margin: 5px;
}